<app-modal-register (closeEvent)="closeModal()">
  <h3>Registrar Cita</h3>
  <form [formGroup]="citaForm" (ngSubmit)="registrar()" >
    <label for="horarioConsulta">Horario de Consulta:
    </label>
      <input type="datetime-local" formControlName="horarioConsulta" id="horarioConsulta">
      <p *ngIf="hasErrors('horarioConsulta', 'required')">
        Campo requerido.
      </p>

    <label for="nombrePaciente">Nombre del Paciente
    </label>
      <input type="text" formControlName="nombrePaciente" id="nombrePaciente">
      <p *ngIf="hasErrors('nombrePaciente', 'required')">
        Campo requerido.
      </p>
      <p *ngIf="hasErrors('nombrePaciente', 'maxlength')">
        El nombre del paciente no debe tener más de 20 caracteres.
      </p>

    <label for="doctor">Doctor:
    </label>
    <select formControlName="doctor" id="doctor">
      <option *ngFor="let doctor of doctores" [value]="doctor.id">
        {{ doctor.nombre}}
      </option>

    </select>
    <p *ngIf="hasErrors('doctor', 'required')">
      Campo requerido.
    </p>

    <label for="consultorio">Consultorio:
    </label>
      <select formControlName="consultorio" id="consultorio">
        <option *ngFor="let consultorio of consultorios" [value]="consultorio.id">
          {{ consultorio.numeroConsultorio }}
        </option>
      </select>
      <p *ngIf="hasErrors('consultorio', 'required')">
        Campo requerido.
      </p>

    <button>Registrar</button>
  </form>
</app-modal-register>
