
<!-- <button (click)="show()">show</button> -->
<main>
  <div class="div-content">
    <section>
      <article>

        <button (click)="showModalRegister('consultorio')">
          Registrar Consultorio
        </button>

        <button (click)="showModalRegister('doctor')">
          Registrar Doctor
        </button>

      </article>

      <button (click)="showModalRegister('cita')" class="citaButton">
        Agendar Cita
      </button>
    </section>
    <section>
      <h2>Citas Agendadas</h2>
      <div class="div-citas">
        <p *ngFor="let cita of citas.slice(0, 6)" (click)="showModalRegister('cita-view', cita.id)">
          {{ cita.nombrePaciente }} - {{ cita.horarioConsulta | date: 'yyyy-MM-dd HH:mm' }}
        </p>
      </div>
      <div class="div-arrows">
        <button (click)="downPage()" [disabled]="page() === 0">◀</button>
        <button (click)="upPage()" [disabled]="last()">▶</button>
      </div>
    </section>
  </div>

  <app-cita-register (closeModalEvent)="receiveBoolean()" *ngIf="registerCita()"/>
  <app-consultorio-register (closeModalEvent)="receiveBoolean()" *ngIf="registerConsultorio()"/>
  <app-doctor-register (closeModalEvent)="receiveBoolean()" *ngIf="registerDoctor()"/>
  <app-cita-view (closeModalEvent)="receiveBoolean()" *ngIf="citaView()" [citaId]="citaId()"/>

</main>

<router-outlet />
