

<main>
  <div class="div-content">
    <section>
      <article>

        <button (click)="showModalRegister('consultorio')">
          Registrar Consultorio
        </button>

        <button (click)="showModalRegister('doctor')">
          Registrar Doctor
        </button>

      </article>

      <button (click)="showModalRegister('cita')" class="citaButton">
        Agendar Cita
      </button>
    </section>
    <section>
      <h2>Citas Agendadas</h2>
      <div>
        <p *ngFor="let cita of citas">
          {{ cita.nombrePaciente }} - {{ cita.horarioConsulta | date: 'yyyy-MM-dd HH:mm' }}
        </p>
      </div>
      <div class="div-arrows">
        <button (click)="downPage()">◀</button>
        <button (click)="upPage()">▶</button>
      </div>
    </section>
  </div>

  <app-cita-register (closeModalEvent)="receiveBoolean()" *ngIf="registerCita()"/>
  <app-consultorio-register (closeModalEvent)="receiveBoolean()" *ngIf="registerConsultorio()"/>
  <app-doctor-register (closeModalEvent)="receiveBoolean()" *ngIf="registerDoctor()"/>

</main>

<router-outlet />
